<div class='row'>
	<div class="span8">
		<div class="well">
			<%= raw(@page.content_for(:body)) %>
		</div>
	</div>

	<div class="span4">
		<div class="well">
			<%= raw(@page.content_for(:side_body)) %>
		</div>
	</div>
</div>	